# Dependências e build
node_modules/
dist/

# Variáveis de ambiente
.env

# Arquivos gerados pelo build
src/base/*
!src/base/.gitkeep
public/openapi/*
!public/openapi/.gitkeep
public/portal.config.json

# Sistema operacional
.DS_Store